<% provide(:title, 'about us') %>

    <h1>About Us</h1>
    <p>
      This is a sample microblogging site built using the
      <%= link_to "Ruby on Rails Tutorial", "http://railstutorial.org/" %>
      as a guide.  <%= link_to "Click here", "http://rubyonrails.org/" %>
      for more information about Ruby on Rails.
    </p>