<li>
  <%= gravatar_for user, size: 52 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    <%= link_to user, method: :delete, class: "delete", data: { confirm: "You sure?" } do %>
    	<i class='icon-trash'></i> 
    <% end %>
  <% end %>
</li>