<% provide(:title, 'All users') %>
<h1>All users</h1>

<% if @users.any? %>
	<%= will_paginate %>

	<ul class="users">
		<%= render @users %>
	</ul>

	<%= will_paginate %>
<% else %>
	<div class="alert alert-info">
		There are no users in the database.
	</div>
<% end %>