<% provide(:title, 'users') %>
<h1>users</h1>

<%= render 'shared/search_form', :path => users_path %>

<div id="users_listing">
	<%= render(partial: 'users') if @users.any? %>
</div>

<div id="empty_search">
	<%= render(partial: 'shared/empty_search') unless @users.any? %>
</div>