<div class="row">
  <aside class="span4">
    <section>
      <%= render :partial => 'shared/user_info', :locals => { :user => current_user, :show_subheading => true}  %>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <%= render 'shared/micropost_form' %>
    </section>
  </aside>
  <div class="span8">
    <h3>Micropost Feed</h3>
    <%= render 'shared/feed' %>
  </div>
</div> 