<% provide(:title, 'microposts') %>
<h1>Microposts</h1>

<%= render 'shared/search_form', :path => microposts_path %>

<div id="micropost_listing">
	<%= render(partial: 'microposts') if @microposts.any? %>
</div>

<div id="empty_search">
	<%= render(partial: 'shared/empty_search') unless @microposts.any? %>
</div>